* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
}


.grid-images {
    display: grid;
    min-height: 100vh;
    gap: 5px;
    padding: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: minmax(150px, auto);

}

.grid-images>span {
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    min-height: 200px;
}

.a {
    background-image: url('assets/img/1.jpg');
    grid-row: 1/3;
}

.b {
    background-image: url('assets/img/2.jpg');
}

.c {
    background-image: url('assets/img/3.jpg');
}

.d {
    background-image: url('assets/img/4.jpg');
    grid-row: 2/4;
}

.e {
    background-image: url('assets/img/5.jpg');
    grid-row: 1/3;
}

.f {
    background-image: url('assets/img/6.jpg');
}

.g {
    background-image: url('assets/img/7.jpg');
    grid-row: 2/4;
}

.h {
    background-image: url('assets/img/8.jpg');
    grid-row: 1/3;
}

.i {
    background-image: url('assets/img/9.jpg');
}

.j {
    background-image: url('assets/img/10.jpg');
}

@media screen and (max-width: 1000px) {
    .grid-images {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 600px) {
    .grid-images {
        grid-template-columns: 1fr;
    }

    .a, .d, .e, .g, .h {
        grid-row: auto;
    }

}